#header
  %h1 Ruby on Rails
  %h2 Сайт-проект на Ruby on Rails
  .center
    %a{:href => "about"} Архитектура
    %a{:href => "contacts"} Интеграция
    %a{:href => "help"} Подключаемые библиотеки
    %a{:href => "http://www.ruby-lang.org/ru/"} Ссылка на сайт Ruby on Rails
