// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
  background-color: white;
  height: 200px;
}

h1 {
  color: darkred;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 50px;
  font-size: 50px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
  &:visited {
    color: white;
  }
  &:hover {
    color: orange;
  }
}

body {
  margin: 0;
}

h2 {
  text-align: center;
  color: grey;
  font-size: 22px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: dimgrey;
}

.center {
  text-align: center;
}

.left{
  width: 70%;
  display: inline;
  margin: 2%;
  background-color: whitesmoke;
}

.right{
  width: 25%;
  display: inline;
}
